@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

img,
svg {
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

.search_again_btn {
  color: black;
  background: white;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Main Section */
.main_page_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}

/* Header Section */
.header_area {
  padding: 10px 15px;
}
.header_area ul {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 10px 15px;
}
.header_area ul a {
  color: rgba(0, 0, 0, 0.87);
}
.header_area .more_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.header_area .more_button:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
.header_area .sign_btn {
  color: white;
  height: 35px;
  min-width: 96px;
  background: #1a73e8;
}
.header_area .sign_btn:hover {
  opacity: 0.9;
}

/* Search Body Section */
.search_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.search_wrapper .form_area {
  max-width: 582px;
  width: 85%;
  margin-top: 20px;
}

/* Search Page Section */
.search_page_wrapper {
  margin: 20px 0 50px 0;
}
.search_page_wrapper .search_header_area {
  display: grid;
  grid-template-columns: minmax(0, 150px) minmax(0, 1fr);
  align-items: start;
  gap: 20px 50px;
  padding-left: 100px;
}
@media screen and (max-width: 991px) {
  .search_page_wrapper .search_header_area {
    grid-template-columns: minmax(0, 1fr);
    padding: 0 20px;
    max-width: 600px;
  }
  .search_page_wrapper .search_header_area .google_logo {
    text-align: center;
  }
  .search_page_wrapper .search_header_area .google_logo img {
    max-width: 100px;
  }
}
.search_page_wrapper .search_header_area:nth-child(1) {
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}
.search_page_wrapper .search_header_area .serach_page_box_area {
  max-width: 600px;
  width: 100%;
}
.search_page_wrapper .search_header_area .form_area {
  margin-top: 0;
  margin-left: inherit;
  margin-right: inherit;
}
.search_page_wrapper .search_header_area .form_area input {
  padding-left: 20px;
  padding-right: 90px;
}
.search_page_wrapper .search_header_area .form_area .search_icon {
  left: auto;
  right: 15px;
}
.search_page_wrapper .search_header_area .form_area .mic_icon_area {
  right: 50px;
}
.search_page_wrapper .search_menu_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.search_page_wrapper .search_menu_area a,
.search_page_wrapper .search_menu_area button {
  font-size: 14px;
  font-weight: 400;
  color: #5f6368;
  text-decoration: none;
}
.search_page_wrapper .search_menu_area a:hover,
.search_page_wrapper .search_menu_area button:hover {
  opacity: 0.8;
}
.search_page_wrapper .search_menu_area .active {
  position: relative;
}
.search_page_wrapper .search_menu_area .active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: #1a73e8;
}
.search_page_wrapper .search_menu_area .active path {
  fill: #1a73e8;
}
.search_page_wrapper .search_menu_area .active span {
  color: #1a73e8;
}
.search_page_wrapper .search_menu_area ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}
.search_page_wrapper .search_menu_area ul a,
.search_page_wrapper .search_menu_area ul button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}
.search_page_wrapper .serach_conent_wrapper {
  margin-top: 10px;
}
.search_page_wrapper .search_timing_area p {
  font-size: 12px;
  font-weight: 400;
  color: #70757a;
}
.search_page_wrapper .serach_conent_wrapper {
  max-width: 600px;
  width: 100%;
}
.search_page_wrapper .serach_result_item {
  margin-top: 15px;
}
.search_page_wrapper .serach_result_item .search_link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #141515;
}
.search_page_wrapper .serach_result_item .search_link:hover {
  opacity: 0.8;
  text-decoration: none;
}
.search_page_wrapper .serach_result_item .link_short_img img {
  width: 20px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.search_page_wrapper .serach_result_item .serch_title {
  font-size: 20px;
  font-weight: 400;
  color: #1a73e8;
}
.search_page_wrapper .serach_result_item p {
  font-size: 13px;
}

/* Testing Page  */
.testing_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
}
.testing_wrapper .testing_content_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 5px 5px rgba(218, 212, 212, 0.7098039216);
  background-color: #1d1d1d;
  padding: 10px;
}
.testing_wrapper .testing_content_area h3 {
  font-size: 24px;
  color: white;
}
.testing_wrapper .testing_content_area h4 {
  font-size: 16px;
  font-weight: 400;
  color: #ff1903;
}

/*  Section *//*# sourceMappingURL=App.css.map */