*,
::before,
::after {
  margin: 0;
  padding: 0;
}
//Import Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
html,
body {
  overflow-x: hidden;
}
img,
svg {
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
.search_again_btn {
  color: black;
  background: white;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 5px;
  margin-top: 20px;
}
/* Main Section */
.main_page_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}
/* Header Section */
.header_area {
  padding: 10px 15px;
  ul {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px 15px;
    a {
      color: rgba(0, 0, 0, 0.87);
    }
  }
  .more_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &:hover {
      background-color: rgba(60, 64, 67, 0.08);
    }
  }
  .sign_btn {
    color: white;
    height: 35px;
    min-width: 96px;
    background: #1a73e8;
    &:hover {
      opacity: 0.9;
    }
  }
}
/* Search Body Section */
.search_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  .form_area {
    max-width: 582px;
    width: 85%;
    margin-top: 20px;
  }
}
/* Search Page Section */
.search_page_wrapper {
  margin: 20px 0 50px 0;
  .search_header_area {
    display: grid;
    grid-template-columns: minmax(0, 150px) minmax(0, 1fr);
    align-items: start;
    gap: 20px 50px;
    padding-left: 100px;
    @media screen and (max-width: 991px) {
      grid-template-columns: minmax(0, 1fr);
      padding: 0 20px;
      max-width: 600px;
      .google_logo {
        text-align: center;
        img {
          max-width: 100px;
        }
      }
    }
    &:nth-child(1) {
      padding-bottom: 10px;
      border-bottom: 1px solid #ebebeb;
    }
    .serach_page_box_area {
      max-width: 600px;
      width: 100%;
    }
    .form_area {
      margin-top: 0;
      margin-left: inherit;
      margin-right: inherit;
      input {
        padding-left: 20px;
        padding-right: 90px;
      }
      .search_icon {
        left: auto;
        right: 15px;
      }
      .mic_icon_area {
        right: 50px;
      }
    }
  }

  .search_menu_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    a,
    button {
      font-size: 14px;
      font-weight: 400;
      color: #5f6368;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }
    }
    .active {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 2px;
        background: #1a73e8;
      }
      path {
        fill: #1a73e8;
      }
      span {
        color: #1a73e8;
      }
    }
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px 20px;
      a,
      button {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
      }
    }
  }

  .serach_conent_wrapper {
    margin-top: 10px;
  }
  .search_timing_area {
    p {
      font-size: 12px;
      font-weight: 400;
      color: #70757a;
    }
  }

  .serach_conent_wrapper {
    max-width: 600px;
    width: 100%;
  }
  .serach_result_item {
    margin-top: 15px;
    .search_link {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 13px;
      font-weight: 400;
      color: #141515;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
    }
    .link_short_img {
      img {
        width: 20px;
        height: 15px;
        object-fit: cover;
      }
    }
    .serch_title {
      font-size: 20px;
      font-weight: 400;
      color: #1a73e8;
    }
    p {
      font-size: 13px;
    }
  }
}
/* Testing Page  */
.testing_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  .testing_content_area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 5px 5px #dad4d4b5;
    background-color: #1d1d1d;
    padding: 10px;
    h3 {
      font-size: 24px;
      color: white;
    }
    h4 {
      font-size: 16px;
      font-weight: 400;
      color: #ff1903;
    }
  }
}
/*  Section */
